@media (min-width: 900px) {

   .hamburger {
    display: none;
   }

   nav {
    height: 20rem;
    overflow: visible;
   }
   
    .title-desktop {
    font-size: 5rem;
    }

    .firstbox-desktop {
        height: 50rem;
    }
   .project-section, .about-section, .skills-section, .contact-section {
    text-align: center;
    display: flex;
    align-items: center;
    height: 54rem;
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-left: 4rem;
    padding-right: 4rem;
}

.myskills {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}


.contactbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.connect {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.projektbox{
    display: flex;
    flex-direction: column;
   
  }

  .myeducation, .aboutme, .contactme {
   width: 50%;
  }

  .rotate {
    transform: rotate(-90deg); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31rem;
    
  }

  .frontPage {
    height: 50rem;
  }
 

  .desktop-list {
   font-size: 2.5rem;
   font-family: 'archivo black';
   
  }

  li:hover {
    transform: rotate(+90deg);
    transition:1000ms;

  }

  a:hover {
    color: orange;
    font-weight: bold;
  }
  i:hover {
    color: orange;
  }

  .myProjects2, .myProjects {
    width: 60%;
    height: 15rem;

}
}